@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
*{
    font-family: 'Roboto', sans-serif; 
    line-height: 1.5;
}


@media only screen and (max-width: 600px) {

    body{
        font-size:10px;
    }
}
body{
    scroll-behaviour:smooth
    }
    


