@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    font-family: 'Roboto', sans-serif; 
    line-height: 1.5;
}

@media only screen and (max-width: 600px) {

    body{
        font-size:7px !important;
    }
    .intro_to_deep{
        font-size: smaller !important;
        width: 10px;
        font-style: bold !important;
    }
}
body{
    scroll-behaviour:smooth
    }
    


